html {
  background-color: #898989
}

.text1 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 200px;
  color: white;
}

.text2 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 200px;
  color: white;
}

a:active {
  color: red;
}

a:visited {
  color: red;
}
