HTML {
  cursor: url("../ASSETS/imgs/pawprint.png"), auto;
}

a {
  color:black;
}
body {
  background-color: #FBA6A6;
  text-align: left;
}
H1 {
  text-align: left;
margin-left: 40px;
}

h1 {
  color: black;
  font-size: 60px;
  font-family: 'Bodoni Moda', serif;
  padding: NONE
}

h5 {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: 'Bodoni Moda', serif;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding:10px;
  background-color:#FBA6A6;
  min-height: 400px;
  height: auto;
}


* {box-sizing:  border-box;}
.item {
  margin: 6px;
  width: 400px;

}

.item1 {
}
.item2 {
}
.item3 {
}
.item4 {
}
