Header {
  text-align: center;
}

a {
  color:black;
}

h2{
  text-decoration: none;
  color: #000;
  background-color: #e1e6ff;
  transition: all 0.1s ease;
  text-align: center;
}

h2:hover {
  background-color: rgb(228,147,169);
background: radial-gradient(circle, rgba(228,147,169,1) 0%, rgba(237,171,192,1) 31%, rgba(169,195,244,1) 100%);;
}

h3 {
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  font-size: 20px;
  outline-color: black
  color: white
}
body {
 background-image: url("imgs/background.png");
 background-size: contain;
 width: 1000px
 height: 720px
 background-repeat: no-repeat;
}


h2 {
  color: pink;
  font-size: 60px;
  font-family: 'Passions Conflict', serif;
}

h1 {
  text-align: center
  cursor: url("imgs/heart.png"), auto;

}

h4 {
  text-align: center;
  cursor: url("imgs/heart.png"), auto;

}

html {
  cursor: url("imgs/heart.png"), auto;
}
