HTML {
  background-color: BLACK;
}

h1 {
  text-align: center;
  color: white;
}

.imgs {
  display: flex;
  justify-content: space-AROUND;
  flex-direction: row;
  padding:400px;
  background-color:#NONE;
  height: auto;

}


  @media (mAX-width: 600px) {
    .imgs { position:absolute; right:0; bottom:0 }
    HTML {
      background-color: PINK;
    }
  }


      @media (min-width: 1000px) {
         .imgs { float:right; margin:0 0 5px 5px }
            H2 {
              font-size: 16px;
                font-COLOR: PINK;
              font-family:'Great Vibes', serif;
            }
          }
